body {
  padding-top: 60px;
  padding-bottom: 40px;
}
/* change fonts */
/*
body {
  font-family:sans-serif;
}
input,button,select,textarea {
  font-family:sans-serif;
}
.navbar-search .search-query {
  font-family:sans-serif;
}
.navbar .search-query::-webkit-input-placeholder {
  font-family:sans-serif;
}
*/
th.left {
  text-align:left;
}
th.top {
  vertical-align:top;
}
li.pad {
  padding-bottom:5px;
}
.hero-unit {
  padding: 30px;
  background-color: #202021;
}
/*.page-header {*/
  /*margin: 20px;*/
/*}*/
body {
  font-size: 15px;
}
.btn {
  font-size: 15px;
}
