body {
  padding-top: 60px;
  padding-bottom: 40px;
}
th.left {
  text-align:left;
}
th.top {
  vertical-align:top;
}
li.pad {
  padding-bottom:5px;
}
.hero-unit {
  padding: 30px;
  background-color: #202021;
}
/*.page-header {*/
  /*margin: 20px;*/
/*}*/
body {
  font-size: 15px;
}
.btn {
  font-size: 15px;
}
